# Simple DB application with SQLite3

## Day 1

### Create a simple DB

In [1]:
# Imports - Python Standard Library
import sqlite3

In [2]:
# Constants
TABLE_NAME = 'Details'
CREATE_TABLE = f'CREATE TABLE {TABLE_NAME}'
COLUMNS = '(name TEXT, address TEXT, phone_number INT)'
DB_NAME = 'address_book.db'
NAME_1 = 'Tim'
ADDRESS_1 = '123 Anytown, USA'
PHONE_1 = '+1 (000) 555-1212'
NAME_2 = 'Jane'
ADDRESS_2 = '155 Anytown, USA'
PHONE_2 = '+1 (000) 555-1111'

The `sqlite3.connect` method takes an argument for the `database` parameter that specifies the name of the database file.  Create a connection object with the name of the database.

- If the database file does not exist, SQLite3 will create the database file and connect to it.
- If the database file does exist, SQLite3 will simply connect to the database file.

In [3]:
# Create a database and attach it to a connection object
conn = sqlite3.connect(
    database=DB_NAME
)

An instance of the `sqlite3.Cursor` class is necessary to perform any database navigation or transactions.

- Create an instance of the `sqlite3.Cursor` class with `conn.cursor()`
- Typically, the variable name for the `sqlite3.Cursor` object is `c`.
- Use the `cursor.execute` method to run SQL transaction command.

In [4]:
# Create a cursor object
cursor = conn.cursor()

In [5]:
# Create a multiline string SQL statement to send with the cursor.execute method
# Create a table with columns and data types
cursor_command = (f"""
    {CREATE_TABLE}
    {COLUMNS}
""").strip()

In [6]:
# Display the SQL command
cursor_command

'CREATE TABLE Details\n    (name TEXT, address TEXT, phone_number INT)'

In [7]:
# Send the cursor command to the database
cursor.execute(cursor_command)

In [8]:
# Close the connection
conn.close()

---

## Day 2

### Insert data into the DB

In [9]:
# Imports - Python Standard Library
import sqlite3

In [10]:
# Establish a connection to the DB
conn = sqlite3.connect(
    database=DB_NAME
)

In [11]:
# Create a cursor object for modifying the DB
cursor = conn.cursor()

In [12]:
# Setup the cursor SQL INSERT command
cursor_command = f'''
    INSERT INTO {TABLE_NAME}
    VALUES ("{NAME_1}", "{ADDRESS_1}", "{PHONE_1}")
'''.strip()

In [13]:
# Display the cursor_command value
cursor_command

'INSERT INTO Details\n    VALUES ("Tim", "123 Anytown, USA", "+1 (000) 555-1212")'

In [14]:
# Run a SQL INSERT command
cursor.execute(cursor_command)

In [15]:
# Setup the cursor SQL INSERT command
cursor_command = f'''
    INSERT INTO {TABLE_NAME}
    VALUES ("{NAME_2}", "{ADDRESS_2}", "{PHONE_2}")
'''.strip()

In [16]:
# Display the cursor_command value
cursor_command

'INSERT INTO Details\n    VALUES ("Jane", "155 Anytown, USA", "+1 (000) 555-1111")'

In [17]:
# Run a SQL INSERT command
cursor.execute(cursor_command)

In [18]:
# Commit the session
## NOT required within a context manager (with) block
conn.commit()

In [19]:
# Select and display all rows from the table
conn.execute(f'SELECT * from {TABLE_NAME}').fetchall()

[('Tim', '123 Anytown, USA', '+1 (000) 555-1212'),
 ('Jane', '155 Anytown, USA', '+1 (000) 555-1111')]