# Simple DB application with SQLite3

## Day 1

### Create a simple DB

In [1]:
# Imports - Python Standard Library
import sqlite3

In [2]:
# Constants
TABLE_NAME = 'Details'
CREATE_TABLE = f'CREATE TABLE {TABLE_NAME}'
COLUMNS = '(name TEXT, address TEXT, phone_number INT)'
DB_NAME = 'address_book.db'
NAME_1 = 'Tim'
ADDRESS_1 = '123 Anytown, USA'
PHONE_1 = '+1 (000) 555-1212'
NAME_2 = 'Jane'
ADDRESS_2 = '155 Anytown, USA'
PHONE_2 = '+1 (000) 555-1111'

The `sqlite3.connect` method takes an argument for the `database` parameter that specifies the name of the database file.  Create a connection object with the name of the database.

- If the database file does not exist, SQLite3 will create the database file and connect to it.
- If the database file does exist, SQLite3 will simply connect to the database file.

In [3]:
# Create a database and attach it to a connection object
conn = sqlite3.connect(
    database=DB_NAME
)

An instance of the `sqlite3.Cursor` class is necessary to perform any database navigation or transactions.

- Create an instance of the `sqlite3.Cursor` class with `conn.cursor()`
- Typically, the variable name for the `sqlite3.Cursor` object is `c`.
- Use the `cursor.execute` method to run SQL transaction command.

In [4]:
# Create a cursor object
cursor = conn.cursor()

In [5]:
# Create a multiline string SQL statement to send with the cursor.execute method
# Create a table with columns and data types
cursor_command = (f"""
    {CREATE_TABLE}
    {COLUMNS}
""").strip()

In [6]:
# Display the SQL command
cursor_command

'CREATE TABLE Details\n    (name TEXT, address TEXT, phone_number INT)'

In [ ]:
# Send the cursor command to the database
cursor.execute(cursor_command)

In [7]:
# Close the connection
conn.close()

---

## Day 2

### Insert data into the DB

In [8]:
# Imports - Python Standard Library
import sqlite3

In [9]:
# Establish a connection to the DB
conn = sqlite3.connect(
    database=DB_NAME
)

In [10]:
# Create a cursor object for modifying the DB
cursor = conn.cursor()

In [11]:
# Setup the cursor SQL INSERT command
cursor_command = f'''
    INSERT INTO {TABLE_NAME}
    VALUES ("{NAME_1}", "{ADDRESS_1}", "{PHONE_1}")
'''.strip()

In [13]:
# Display the cursor_command value
cursor_command

'INSERT INTO Details\n    VALUES ("Tim", "123 Anytown, USA", "+1 (000) 555-1212")'

In [12]:
# Run a SQL INSERT command
cursor.execute(cursor_command)

In [14]:
# Setup the cursor SQL INSERT command
cursor_command = f'''
    INSERT INTO {TABLE_NAME}
    VALUES ("{NAME_2}", "{ADDRESS_2}", "{PHONE_2}")
'''.strip()

In [15]:
# Display the cursor_command value
cursor_command

'INSERT INTO Details\n    VALUES ("Jane", "155 Anytown, USA", "+1 (000) 555-1111")'

In [ ]:
# Run a SQL INSERT command
cursor.execute(cursor_command)

In [ ]:
# Commit the session
## NOT required within a context manager (with) block
conn.commit()

In [16]:
# Close the connection
conn.close()

---

## Day 3

### Retrieve data from the DB

In [17]:
# Imports - Python Standard Library
import sqlite3

In [18]:
# Create a database and attach it to a connection object
conn = sqlite3.connect(
    database=DB_NAME
)

In [19]:
# Create a cursor object for modifying the DB
cursor = conn.cursor()

In [20]:
# Setup the cursor SQL SELECT command
cursor_command = f'''
    SELECT name, address, phone_number 
    FROM {TABLE_NAME}
'''.strip()

# Alternatively, the following will retrieve the same data
# cursor_command = f'''
#     SELECT *
#     FROM {TABLE_NAME}
# '''.strip()

In [21]:
# Display the cursor_command value
cursor_command

'SELECT name, address, phone_number \n    FROM Details'

In [22]:
# Select the SQL SELECT query and assign results to a variable
results = conn.execute(cursor_command).fetchall()

In [23]:
# Display results
results

[('Tim', '123 Anytown, USA', '+1 (000) 555-1212'),
 ('Jane', '155 Anytown, USA', '+1 (000) 555-1111'),
 ('Johnny Appleseed',
  '12345 Main St., Las Vegas, NV 91234',
  '+1.702.555.1212'),
 ('Batfish Bob', '5545 Upper Ct., Minneapolis, MN 54682', '+1.309.555.5555'),
 ('Joe Smith',
  '9301 Abe Lincoln Blvd., Vicksburg, MS 71345',
  '+1.513.555.1231'),
 ('Bert Further', '78351 Boston, Ave., Newport, RI 01512', '+1.291.555.1111'),
 ('Kara Hightown', '7878 MLK Pkwy, Charleston, SC 38231', '+1.291.555.0000'),
 ('June Elippia',
  '93514 Mountain Park Ln., Sacramento, CA 99341',
  '+1.916.555.2222')]

In [27]:
# Create a namedtuple object for simplified access to results data
from collections import namedtuple
QueryResult = namedtuple(
    typename='QueryResults',
    field_names=[
        'name',
        'address',
        'phone_number'
    ]
)

In [28]:
# Display friendly results
print('\n** Query Results **\n')
for index, result in enumerate(results):
    # Copy data for the current iteration to a namedtuple object
    query_result = QueryResult(*result)
    print(
        f'{index}. Name: {query_result.name}\n'
        f'   Address: {query_result.address}\n'
        f'   Phone Number: {query_result.phone_number}\n'
    )

** Query Results **

0. Name: Tim
   Address: 123 Anytown, USA
   Phone Number: +1 (000) 555-1212

1. Name: Jane
   Address: 155 Anytown, USA
   Phone Number: +1 (000) 555-1111

2. Name: Johnny Appleseed
   Address: 12345 Main St., Las Vegas, NV 91234
   Phone Number: +1.702.555.1212

3. Name: Batfish Bob
   Address: 5545 Upper Ct., Minneapolis, MN 54682
   Phone Number: +1.309.555.5555

4. Name: Joe Smith
   Address: 9301 Abe Lincoln Blvd., Vicksburg, MS 71345
   Phone Number: +1.513.555.1231

5. Name: Bert Further
   Address: 78351 Boston, Ave., Newport, RI 01512
   Phone Number: +1.291.555.1111

6. Name: Kara Hightown
   Address: 7878 MLK Pkwy, Charleston, SC 38231
   Phone Number: +1.291.555.0000

7. Name: June Elippia
   Address: 93514 Mountain Park Ln., Sacramento, CA 99341
   Phone Number: +1.916.555.2222

In [29]:
# Close the connection
conn.close()